h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

.space {
  border: solid black;
  text-align: center;
  width: 80px;
  height:80px;
  float: left;

  position: relative;
  left: 40%;
}

.square-x {
  background-color: red;
}

.square-o {
  background-color: blue;
}
